
$primary-color: #4ca3af;
$hover-color: #45a049;
$background-color: aliceblue;
$border-color: #ddd;
$button-padding: 0.6em 1.2em;
$border-radius: 0.3em;
$font-family: 'Arial', sans-serif;

$font-size-base: 1rem; 
$font-size-large: 2rem;
$gap: 1.5em;

#counterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $gap;
  padding: 1em;
  font-family: $font-family;
  border: 0.2em solid $primary-color;
  border-radius: $border-radius;
  width: 80vw;
  max-width: 80vw;
  margin: 5vh auto;
  background-color: $background-color;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.5);
  

  #totale {
    font-size: $font-size-large;
    color: #333;
    margin: 0;
  }

 
  #controls {
    display: flex;
    flex-direction: column; 
    gap: 1.2em;
    width: 100%;
    align-items: center;
  }

 
  button {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: $button-padding;
    font-size: $font-size-base;
    border-radius: $border-radius;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; 
    &:hover {
      background-color: $hover-color;
    }
  }


  .btnReset {
    background-color: #f44336;
  }
  .btnClearList{
    background-color: #f44336;
  }

  .btnSave {
    background-color: $hover-color;
  }

 
  #valoreSalvato {
    list-style: none;
    padding: 0;
    margin: 1.5em 0 0;
    width: 100%;
    max-height: 20vh;
    overflow-y: auto;
    border-top: 0.1em solid $border-color;
    
    li {
      background-color: #e7f4e4;
      padding: 0.5em;
      margin: 0.5em 0;
      border-radius: 0.3em;
      color: #333;
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  #counterContainer {
    flex-direction: row !important;
    justify-content: space-between;
    width: 60vw; 
    padding: 2.5em;
  }
  button{
    padding: 0.8em !important;
  }

  #totale {
    font-size: 5rem !important;
  }
}